DATABASE_URL=XXXXXXXXXXXXXXXXxxxxxxxxxxxxxxxxxxx
JWT_SECRET=XXXXXXXXXxxxxxxxxxxxxxxxxxxxxxxx
JWT_EXPIRES_IN=XXXXXXXXXXXXxxxxxxxxxxxxxxxxxx
NOMBA_BASE_URL=https://sandbox.nomba.com/v1
NOMBA_ACCOUNT_ID=XXXXXXXXXXxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
NOMBA_CLIENT_ID=XXXXXXXXXXXXXxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
NOMBA_CLIENT_SECRET=XXXXXXXXXxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
PORT=XXXXXXXxxxxxxxxx